.card{
    width: 400px;
    border:2px solid black;
}
input[type=text]{
    border:2px solid black;
}
#section input[type=text]{
    height:150px;
}
#button{
    width:350px;
    border:2px solid black;
}
